
body{background-color: rgb(0,10,30);}

.all{
	font-size: 25px ;
	font-family: 'Helvetica',sans-serif;
	color: rgb(0,200,240);
	width: 40%;
	margin: auto;
	border-color: rgb(100,200,240);
	border-style: ridge;
	border-spacing: 100px;
	padding:20px;

s
}